aiofiles==0.7.0
cryptography==35.0.0
environs==9.3.4
httptools==0.3.0
marshmallow==3.14.0
multidict==5.2.0
pycparser==2.20
PyJWT==2.1.0
PyMySQL==1.0.2
python-dotenv==0.19.1
sanic==21.6.2
Sanic-Cors==1.0.1
sanic-jwt==1.7.0
sanic-plugin-toolkit==1.2.0
sanic-routing==0.7.1
secure==0.3.0
websockets==10.0
jsonschema==4.1.1